{% extends 'baseAfterLog.html.twig' %}


{% block body %}
  <div class="inner">
    <a href="{{path('user_page')}}"><input type="button" value="Utilisateurs"></a>
    <a href="{{path('piece_page')}}"><input type="button" value="Pièces"></a>
  <div>
  <header class="inner">
    <h2><center><strong> Mesures </strong></center></h2>
    <hr>
    <a href="{{path('createMesurePdf')}}"><input type="button" value="Générer PDF"></a>
  </header>
  <div class="inner">
    <table class="table table-bordered">
      <tr>
         <th><p class="text-error">id</p></th>
         <th><p class="text-error">identifiant Raspberry</p></th>
         <th><p class="text-error">identifiant Pièce</p></th>
         <th><p class="text-error">Axe X</p></th>
         <th><p class="text-error">Axe Y</p></th>
         <th><p class="text-error">Axe Z</p></th>
         <th><p class="text-error">CdG Mesurer</p></th>
         <th><p class="text-error">Username</p></th>
         <th><p class="text-error">Date Mesure</p></th>
      </tr>
      {% for mesure in mesures %}
        <tr>
          <td><p class="text-error">{{mesure.id}}</p></td>
          <td><p class="text-error">{{mesure.idenRaspberry}}</p></td>
          <td><p class="text-error">{{mesure.idenPiece}}</p></td>
          <td><p class="text-error">{{mesure.axeX}}</p></td>
          <td><p class="text-error">{{mesure.axeY}}</p></td>
          <td><p class="text-error">{{mesure.axeZ}}</p></td>
          <td><p class="text-error">{{mesure.cdgmesurer}}</p></td>
          <td><p class="text-error">{{mesure.username}}</p></td>
          <td><p class="text-error">{{mesure.dateMesure | date('d/m/Y')}}</p></td>
        </tr>
  </div>
</section>
{% endfor %}
{% endblock %}
