<h2><strong><center>Mesures</h2></strong></center>

<hr>

<div class="inner">
  <table class="table table-bordered">
    <tr>
       <th><p class="text-error">id</p></th>
       <th><p class="text-error">identifiant Raspberry</p></th>
       <th><p class="text-error">identifiant Pièce</p></th>
       <th><p class="text-error">CdG Mesurer</p></th>
       <th><p class="text-error">Username</p></th>
       <th><p class="text-error">Date Mesure</p></th>
    </tr>
    {% for mesure in mesures %}
      <tr>
        <td><p class="text-error">{{mesure.id}}</p></td>
        <td><p class="text-error">{{mesure.idenRaspberry}}</p></td>
        <td><p class="text-error">{{mesure.idenPiece}}</p></td>
        <td><p class="text-error">{{mesure.cdgmesurer}}</p></td>
        <td><p class="text-error">{{mesure.username}}</p></td>
        <td><p class="text-error">{{mesure.dateMesure | date('d/m/Y')}}</p></td>
      </tr>
</div>
    {% endfor %}
