
<h2><strong><center>Utilisateurs</center></strong></h2>
<hr>

<div class="inner">
    <table class="table table-bordered">
      <tr>
         <th><p class="text-error">id</p></th>
         <th><p class="text-error">Prénom</p></th>
         <th><p class="text-error">Nom</p></th>
         <th><p class="text-error">Email</p></th>
         <th><p class="text-error">Date création</p></th>
      </tr>
      {% for utilisateur in utilisateurs %}
        <tr>
          <td><p class="text-error">{{utilisateur.id}}</p></td>
          <td><p class="text-error">{{utilisateur.firstname}}</p></td>
          <td><p class="text-error">{{utilisateur.lastname}}</p></td>
          <td><p class="text-error">{{utilisateur.email}}</p></td>
          <td><p class="text-error">{{utilisateur.registerdate | date('d/m/Y')}}</p></td>
        </tr>
</div>

      {% endfor %}
